<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="panth_seo_product_auto_url_key"
                  instance="Panth\AdvancedSEO\Observer\Product\AutoUrlKey"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="panth_seo_product_save_after"
                  instance="Panth\AdvancedSEO\Observer\Product\SaveAfter"/>
        <observer name="panth_seo_indexing_api_product"
                  instance="Panth\AdvancedSEO\Observer\SearchConsole\EntityChangeObserver"/>
    </event>
    <event name="catalog_category_save_after">
        <observer name="panth_seo_category_save_after"
                  instance="Panth\AdvancedSEO\Observer\Category\SaveAfter"/>
        <observer name="panth_seo_indexing_api_category"
                  instance="Panth\AdvancedSEO\Observer\SearchConsole\EntityChangeObserver"/>
    </event>
    <event name="cms_page_save_after">
        <observer name="panth_seo_cms_save_after"
                  instance="Panth\AdvancedSEO\Observer\Cms\SaveAfter"/>
        <observer name="panth_seo_indexing_api_cms"
                  instance="Panth\AdvancedSEO\Observer\SearchConsole\EntityChangeObserver"/>
    </event>
    <event name="catalog_category_move_after">
        <observer name="panth_seo_category_move_after"
                  instance="Panth\AdvancedSEO\Observer\Category\MoveAfter"/>
    </event>
</config>
