<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cms_index_noroute">
        <observer name="panth_seo_noroute_logger"
                  instance="Panth\AdvancedSEO\Observer\Redirect\NoRoute"/>
    </event>
    <event name="controller_action_predispatch">
        <observer name="panth_seo_redirect_predispatch"
                  instance="Panth\AdvancedSEO\Observer\Redirect\Predispatch"/>
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="panth_seo_remove_native_og"
                  instance="Panth\AdvancedSEO\Observer\Social\RemoveNativeOgObserver"/>
    </event>
</config>
